WebApp/node_modules
WebApp/public/hot
WebApp/public/storage
WebApp/storage/*.key
WebApp/vendor
WebApp/.idea
WebApp/.vscode
WebApp/.vagrant
WebApp/Homestead.json
WebApp/Homestead.yaml
WebApp/npm-debug.log
WebApp/yarn-error.log
WebApp/.env
WebApp/.phpunit.result.cache
